img {
    height: 40px;
    width: auto;
}

body > div {
    border: 1px solid red;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

.header {
    grid-column: 2;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    background-color: white;
}

.header > div {
    padding: 10px;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.searchBar > input {
    border-radius: 1.8em;
    width: 80%;
    border: 0px;
    background-color: aliceblue;
    padding: 7px;
}

.searchBar > button,
.userProfile > .notificationButton {
    border: 0px;
    background-color: transparent;
}

.userProfile {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.hiUserProfile {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight:bolder;
}

#hiThere {
    font-size: 14px;
}

#name {
    font-size: 23px;
}

.profile > img,
.userProfile > img,
.hiUserProfile > img {
    border-radius: 50%;
}

.hiUserProfile > img {
    height: 60px;
    grid-row: span 2;
}


.actionButtons {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 10px;
}

.actionButtons > button {
    border-radius: 1.8em;
    border: 0px;
    padding: 5px;
    width: 70px;
}

.dashboard {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.content > div {
    border: 1px solid blue;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    padding: 10px;
    grid-row: span 2;
}

.cardSection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.card {
    border: 1px solid blue;
    height: 200px;
    padding: 10px;
}

.projectsTitle {
    border: 1px solid blue;
    margin-bottom: 10px;
}

.announcements {
    padding: 10px;
}

.profile {
    border: 1px solid blue;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.nametag {
    display: flex;
    flex-direction: column;
}

.trendingTitle {
    padding: 10px;
}

.profile > img {
    grid-row: 1/3;
    align-self: center;
    justify-self: end;
    margin-right: 10px;
}